Makefile
config.log
config.status
*.a
*.o
*.la
*.lo
.deps
.libs
.dirstamp
build/libltdl/argz.h
programs/hemp

tests/core/action
tests/core/context
tests/core/cstr
tests/core/dialect
tests/core/element
tests/core/elements
tests/core/error
tests/core/factory
tests/core/filesystem
tests/core/grammar
tests/core/hash
tests/core/list
tests/core/memory
tests/core/pool
tests/core/slab
tests/core/source
tests/core/tag
tests/core/tagset
tests/core/text
tests/core/template
tests/benchmark
tests/core/ptree
tests/memtrace
tests/core/utils
tests/core/value

tests/language/hemp/boolops
tests/language/hemp/comments
tests/language/hemp/numbers
tests/language/hemp/numops
tests/language/hemp/quotes
tests/language/hemp/textops


tests/debug
tests/hemp
tests/module
tests/scanner
tests/tests
tests/type
tests/hub
tests/tt3
