Makefile
config.log
config.status
*.a
*.o
*.la
*.lo
.deps
.libs
.dirstamp
source/hemp
source/hemp_test
source/element/*.a
source/element/*.o
source/element/*.la
source/element/*.lo
source/element.deps
source/.libs
tests/.libs
tests/*.o
tests/debug
tests/dialect
tests/element
tests/error
tests/filesystem
tests/hash
tests/hemp
tests/list
tests/memory
tests/module
tests/pool
tests/scanner
tests/slab
tests/sources
tests/tests
tests/text
tests/template
.deps
