Makefile
config.log
config.status
source/*.a
source/*.o
source/*.la
source/*.lo
source/.deps
source/.libs
source/hemp
source/hemp_test
tests/.libs
tests/*.o
tests/debug
tests/dialect
tests/element
tests/hash
tests/hemp
tests/memory
tests/module
tests/pool
tests/slab
tests/sources
tests/tests
tests/template
.deps
